# 忽略前後端的 node_modules
node_modules
client/node_modules

# 忽略 log
npm-debug.log
yarn-debug.log
yarn-error.log

# 忽略敏感檔案
.env
.env.local

# 忽略 Git 與開發設定
.git
.gitignore
.vscode
*.local

# 忽略 Docker 本身
Dockerfile
docker-compose.yml

# 忽略測試快取
coverage

# 忽略系統垃圾
*.swp
.DS_Store
Thumbs.db